body{
    background-color: #ECF2FF;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    min-height: 100vh;
}

h1{
    color:#66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
}
h2{
    color:#66BFBF;
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color:#11999E;
    font-family: 'Merriweather', serif;

}
p{
    line-height: 2;
}

.navbar{
   
    padding: bottom 10px;
}
.navbar-brand{
    color: darkgoldenrod;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight:bold;
}
.nav-item{
    padding: 0 14px;
}

.nav-link{
    font-size: 1.3rem;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: #e1f4fb;
    position:relative;
    padding-top: 100px;
  
   
}
.intro{
    width:30%;
    margin:auto;
}
.middle-container{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.bottom-container{
    background-color: #11999E;
    padding:30px 0 20px;
}
a{
    color:#8feef1;
    margin:10px 20px 10px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
.top-cloud{
    position:absolute;
    right:200px;
    top:40px;
}
.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:250px;
}
.sk{
    height:200px;
    width:200px;
}
.skill-img{
    height:25%;
    width:25%;
    float:left;
    margin-right: 30px;
}
.drawing-img{
    height:25%;
    width:25%;
    float:right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    
}
.skill-discrption{
    clear:left;
}
.mountain{
    height:100px;
    width:1900px;
}
hr{
    border-top: dotted rgb(9, 216, 9) 6px;
    border-bottom:none;
    width:5%;
    margin:100px auto;
}
.copyright{
    color:#EAF6F6;
}
.cont-message{
    
    
    width:40%;
    margin: 40px auto 60px;

}
.btn {
    background: #c7dfee;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 30px;
  }
  
  .btn:hover {
    background: #dde5ea;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }